<script>
function time() {
	var today = new Date();
	var h = today.getHours();
	var m = today.getMinutes();
	var s =today.getSeconds();
	m=checkTime(m);
	s=checkTime(s);
	today=today.toDateString();
	document.getElementById('time').innerHTML = today + "&emsp; " + h + ":" + m + ":" + s + "&emsp;";
	var t=setTimeout(time,500);
}
function checkTime(i) {
	if (i<10) {i = "0" + i};
	return i;
}
</script>
<body onload="time()">
<h1>Cleaning Task</h1><div id="time" style="text-align:right">&emsp;</div><br>
<h1>&emsp;&emsp;<%= @room.no%> :	</h1>
<br>
<%if (@task.start_time.nil?)%>
	<%= form_tag(:controller=>'maid',:action=>'start',:id=>params[:id]) do%>
		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<%=submit_tag 'Start', class: 'btn btn-success'%>
	<%end%>
<%else%>
	<%= form_tag(:controller=>'maid',:action=>'stop',:id=>params[:id]) do%>
		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<%=submit_tag 'Stop', class: 'btn btn-danger'%>
	<%end%>
<%end%>
<h1>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<%= link_to "Back", {:controller =>'maid',:action=>'show',:id =>@task.user_id} , class: 'btn btn-primary'%>
</h1>
</body>