
<body>
<% if session[:user_id] == params[:id].to_i %>
	<h1>&emsp;Dash Board</h1><br><br>
<%else%>
	<h1>&emsp;<%= User.find(params[:id]).name %></h1><br><br>
<%end%>
<table class="table table-bordered">
	<tr>
		<td>&emsp;<b>No. of Rooms to be Cleaned</b></td>
		<td><%= @rooms.size%></td>
	</tr>
	<tr>
		<td>&emsp;<b>Estimated Time </b></td>
		<td><%= @rooms.size%> hr</td>
	</tr>
	<tr>
		<td>&emsp;<b>Rooms Cleaned </b></td>
		<td style='width:60%'><%= @tasks.size%></td>
	</tr>
</table><br><br>
<% if session[:user_id] == params[:id].to_i%>
	<p>&emsp;&emsp;&emsp;&emsp;<b>Rooms:
	<% if @rooms.first.nil?%>
		&emsp;No room assigned<br>
	<% end %>
	<% @rooms.each do |room|%>
		&emsp;<%= link_to room.no, {:controller =>'maid',:action=>'cleaning',:id =>room.id}, class: 'btn btn-primary' %><td>
	<%end%>	</b></p>
<%else%>
	<% unless @rooms.first.nil? %>
		<p style = 'text-align:center'>Rooms Assigned</p><br>
	<% end %>
	<% @rooms.each do |room|%>
		<p style = 'text-align:center'>
		<%=room.no%>&emsp;<%= link_to 'Delete', {:controller =>'maid',:action=>'delete',:id =>room.id}, class: 'btn btn-danger' %></p><br>
	<%end%>
	<p style = 'text-align:center'>
	<%= link_to 'Back', {:controller =>'staff',:action=>'show',:id =>session[:user_id]}, class: 'btn btn-primary' %></p>
<%end%>
</body>
