<table class='table' style='width:40%' align='center'>
	<tr>
	<td style="text-align:center"><h1>Staff</h1></td>
	<td style="width:50%"><%= image_tag @staff.image.url(:medium) %></td>
	</tr>
</table><br>
<th><b>&emsp;Maids</th>
<%= form_tag(:controller=>'maid',:action=>'task',:id=>params[:id]) do%>
	<table class="table table-bordered">
		
		<%= @maids.each do |maid|%>
			<tr><td>&emsp;&emsp;<%= radio_button(:users,:id,maid.id) %>&emsp;<%= link_to maid.name, {:controller =>'maid',:action=>'show',:id =>maid.id}%></td></tr>	
		<%end%>
	</table>
	<% if @maids.first.nil?%>
			<br>&emsp;No maids present at this shift<br>
	<% end %><br>
	<% if @rooms.first.nil?%>
		<br>&emsp;All rooms are assigned<br>
	<%else%>
	<th><b>&emsp;Rooms</th>
	<table class="table table-bordered">
		<%= @rooms.each do |room|%>
			<tr><tr><td>&emsp;&emsp;<%= check_box_tag(room.no,room.id)%>&emsp;<%= room.no %></td></tr></tr>	
		<%end%>
	</table>
	
	<% end %><br><br>
	&emsp;&emsp;&emsp;<%= submit_tag 'Assign', class: "btn btn-primary"%>
<%end%>
