<table class='table' style='width:50%' align='center'>
	<td><h1><%=@hotel.name%></h1></td>
	<td><h1><%= image_tag @hotel.photo.url(:medium) %></h1></td>
</table>
<body style='text-align:center'>
<p style="text-align:right	">
	<%= link_to "Edit", {:controller =>'hotels',:action=>'edit',:id=>params[:id]}%>&emsp;
	<%= link_to "Create User", {:controller =>'users',:action=>'new',:id=>params[:id]}%>&emsp;</p><br>

	<% if @staffs.first !=nil %>
		<h5><b>Staffs</b></h5>
		<table class="table table-bordered" style='width:60%' align='center'>		
			<tr><th style='text-align:center'>Profile</th><th style='text-align:center'>Name</th><th style='text-align:center'>Email</th><th style='text-align:center'>Phone.No</th>
			</tr>
		<% @staffs = User.where(hotel_id: params[:id], role_id: Role.staff).find_each %>
		<% @staffs.each do |staff|%>
			<tr>
				<td>&emsp;<%= image_tag staff.image.url(:thumb) %></td><td>&emsp;<%=staff.name%></td><td><%=staff.email%></td><td><%=staff.phone_no%></td>
				<td style='width:15%;' id="<%= staff.id%>">
						<%= render partial: 'button', locals: { user: staff} %>
		    </td>
				<td style='width:10%'><%= link_to 'Edit', {:controller =>'users',:action=>'edit',:id=>staff.id},  class: 'btn btn-info'%>
				</td>
			</tr>
		<%end%>
		</table>
	<%else%>
		No staffs available<br>
	<%end%>
	<br>
	<% if @maids.first !=nil %>
		<h5><b>Maids</b></h5>
		<table class="table table-bordered" style='width:60%' align='center'>
			<tr><th style='text-align:center'>Profile</th><th style='text-align:center'>Name</th><th style='text-align:center'>Email</th><th style='text-align:center'>Phone.No</th>
			</tr>
			<%= @maids.each do |maid|%>
			<tr>
				<td>&emsp;<%= image_tag maid.image.url(:thumb) %></td><td>&emsp;<%=maid.name%></td><td><%=maid.email%></td><td><%=maid.phone_no%></td>
				<td style='width:15%' id="<%= maid.id%>">
					<%= render partial: 'button', locals: { user: maid} %>
				</td>	
				<td style='width:10%'><%= link_to 'Edit', {:controller =>'users',:action=>'edit',:id=>maid.id},  class: 'btn btn-info'%>
				</td>
			</tr>
			<%end%> 
		</table>
	<%else%>
		No maids available
	<%end%>
	<br><br>
	<%= link_to "Back", {:controller =>'admin',:action=>'show',:id=>session[:user_id]},  class: 'btn btn-info btn-small'%><br><br><br><br><br><br>
</body>
