<h1>&emsp;<%=@hotel.name%></h1></td>
<p style="text-align:center"><%= link_to "Create User", {:controller =>'users',:action=>'new',:id=>params[:id]}, class: 'btn btn-info'%></p><br>
&emsp;<h5>&emsp;<b>Staffs</b></h5>
<%= form_tag(:controller => "hotels",:action =>"block") do %>
	<table class="table table-bordered" style='width:20%'>		
		<%= @staffs.each do |staff|%>
		<tr>
			<td>&emsp;<%=staff.name%></td><td><%= check_box(staff.id,value='true', {checked: staff.is_active == 0})%>&emsp;Disable</td>	
		</tr>
		<%end%>
	</table><br>
	<h5><b>&emsp;Maids</b></h5>
	<table class="table table-bordered" style='width:20%'>
		<%= @maids.each do |maid|%>
		<tr>
			<td>&emsp;<%=maid.name%></td><td style="text-align:center;width:50%"><%= check_box(maid.id,value='true', {checked: maid.is_active == 0})%>&emsp;Disable</td>	
		</tr>
		<%end%> 
	</table><br><br>
	&emsp;&emsp;&emsp;<%= submit_tag "Submit",class: 'btn btn-primary btn-small'%>
<% end %><br>
	&emsp;&emsp;&emsp;&nbsp; <%= link_to "Back", {:controller =>'admin',:action=>'show',:id=>session[:user_id]},  class: 'btn btn-info btn-small'%><br><br><br><br><br><br>
