<!DOCTYPE html>

<script>
function time() {
  var today = new Date();
  var h = today.getHours();
  var m = today.getMinutes();
  var s =today.getSeconds();
  m=checkTime(m);
  s=checkTime(s);
  today=today.toDateString();
  document.getElementById('time').innerHTML = today + "&emsp; " + h + ":" + m + ":" + s + "&emsp;";
  var t=setTimeout(time,500);
}
function checkTime(i) {
  if (i<10) {i = "0" + i};
  return i;
}
</script>

<%= render partial: "layouts/flash_messages", flash: flash %> 
<html>
  <head>
    <title>Housekeeping</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body onload="time()">
    <% if(session[:user_id])%>
    <div id="time" style="text-align:right;color:gray;">&emsp;</div><br>
  	<div align="right">
      <% user = User.find_by(id: session[:user_id])%>
      <% if user.role_id == Role.maid %>
        <%= link_to "Edit Profile", controller: 'maid', action: 'edit', id: session[:user_id]%>&emsp;
      <% elsif user.role_id == Role.staff %>
        <%= link_to "Edit Profile", controller: 'staff', action: 'edit', id: session[:user_id]%>&emsp;
      <%end%>
    <%= link_to "Home", controller: 'application', action: 'logged'%>&emsp;
    <%= link_to "Sign out", signout_path, id: "sign_out" %>&emsp;</div>
    <%end%>
    <%= yield %>
  </body>
</html>
